h1{
    font-size: 50px;
    margin-top: 40px;
}
.container{
    text-align: center;
    height: 600px;
    width: 70%;
}
.formSize{
    height: 200px;
    width: 50%;
    display: inline-block;
}
.pdf{
    display: inline;
}
/* Styling used for jsPDF */
.pdfButton{
    color: white;
    background-color: black;
    opacity: 0.5;
    height: 60px;
    width: 150px;
    margin-top:  20px;
}
.filter{
    margin-top: 30px;
}
