<div class="container" #content>
  <table class="table col-md-12" id="html-table">
    <thead>
      <tr>
        <th scope="col">Book ID</th>
        <th scope="col">Book Title</th>
        <th scope="col">Book Author</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{book.bookId}}</td>
        <td>{{book.bookTitle}}</td>
        <td>{{book.bookAuthor}}</td>
      </tr>
    </tbody>
  </table>
  <button class="pdfButton" (click)="downloadPDF()">Download PDF</button>
</div>