<div class="container" #content id="content">
  <h3> RESULT </h3> 
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class ="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class ="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>  
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <br class="page-break">
  <p>Career Field:</p> <p class="orange"> Transportation</p>
  <p class= "blue">Strand:</p>  <p><p class= "bold">2</p>  <p>Safety, Tools, and Maintenance</p>
  <p class= "yellow">Outcome:</p> <p class="bold"> 2.4</p><p>General Maintenance</p>
  <p class="green">Competency:</p>  <p class="bold">2.4.12</p> <p>Store mechanical systems fluids and waste products.</p>
  <p>Academic Subject:</p>  <p class="orange">ELA</p>
  <p class="blue">Domain:</p>  <p>Reading for Information</p>
  <p class="gold">Grade:</p> <p>11-12</p>
  <p class="bold">Standards:</p>
  <p class="red">A</p>   <p class="bold">1  RI.11-12.1</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="red">A</p>   <p class="bold">2  RI.11-12.2</p>  <p>Analyze informational text development. a. Determine two or more central ideas of a text and analyze their development over the course of the text, including how they interact and build on one another.  b. Craft an informative abstract that delineates how the central ideas of a text interact and build on one another</p>
  <p class="green">R</p>   <p class="bold">3  RI.11-12.3</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <p class="yellow">E</p>   <p class="bold">4  RI.11-12.4</p>  <p>Cite strong and thorough textual evidence to support analysis of what the text says explicitly as well as inferences drawn from the text, including determining where the text leaves matters uncertain</p>
  <button class="pdfButton" (click)="downloadPDF()">Download PDF</button>
</div>
